<html>

<head>
    <title>Merinjei Bot | Profile</title>
    {% load staticfiles %}
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/requests.js" %}></script>
</head>

<body>

    <div class="user">
        <h2> Hey {{ username }}</h2>
        <img src="{{ user_pic }}">
    </div>

    
    <table>
        <tr>
            <th>Pages:</th>
            <th>Comments subscribed</th>
            <th>Messanger subscrbed</th>
        </tr>
        {% for page, value in fb_pages.items %}
        <tr>
            <td>{{ page }}</td>
            <td>
                <button data-id='{{ value.id }}' data-token='{{ value.access_token }}' onclick="subscribeToComments(this)">Subscribe</button>
            </td>
        </tr>
        {% endfor %}
    </table>


    {% csrf_token %}



</body>
</html>