<html>

<head>
    <title>Merinjei Bot | Profile</title>
    {% load staticfiles %}
    
    <!-- Static files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-utilities@4.0.0-beta.3/bootstrap-utilities.min.css"
        crossorigin="anonymous">

</head>

<body>
    <div>
        <div class="container col-lg-2 col-md-2 col-sm-2" id="sidebar-container">
            <div id="sidebar">
                <ul id="sidebar-list">
                    <li>
                        <div>
                            <img src="{{ user_pic }}" class="pull-left img-circle">
                            <div><span class="label label-success">Online</span></div>
                            <div class="center-block"><h4>{{ username }}</h4></div>
                        </div>
                    </li>
                    <li id="logout">
                        <a>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
       
        <div class="col-lg-10 col-md-10 col-sm-10 p-1">
            <div class="container">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>What is MerinjeiBot</h3>
                    <p>
                        MerinjeiBot is system for Facebook page maintenance. The idea behind him is to make Facebook page maintenance easer than
                        it ever has been by the only task for you left is to post on it. Everything else will be covered by your fellow Merinjei.
                        He will control the hate comments by deleting them so that your page stays clean and positive. Also he will have a chat bot
                        which you can add to your Facebook page so that not only you will have 100% responding rate also your clients will be able
                        to communicate with the page whenever they want to. The chatbot is using online services for the questions who are not directly
                        assigned to your company such as trouble shooting.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h1>Merinjei Bot</h1>
                    <img src={% static "imgs/merinjeiBot.jpg" %} class="h-25">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>
                        How to use MerinjeiBot
                    </h3>
                    <p>
                        It is pretty simple as you've already logged in. There is a table below in which there is a list of all your Facebook pages.
                        As you can see there is your <b>Comment status</b> and <b>Messenger status</b>. They indicate if MerinjeiBot is keeping an eye
                        on you page comments and if he is ready to answer some spicy questions from you customers so the <i class="glyphicon glyphicon-remove"></i>
                        indicates you have <b>NOT</b> added Merinjei to your Facebook Squad but no worries. If you click on the <i class="glyphicon glyphicon-remove"></i>
                        itself after a moment you will get the <i class="glyphicon glyphicon-ok"></i> and from now on Merinjei will keep your page clean from hate and
                        won't let anyone down without an answer!
                    </p>
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Page</th>
                    <th>Comments status</th>
                    <th>Messenger status</th>
                </tr>
                {% for page, value in fb_pages.items %}
                <tr>
                    <td>{{ page }}</td>
                    <td>
                        <a title="Your subscription to the comments is DOWN" data-id='{{ value.id }}' data-token='{{ value.access_token }}' onclick="handleCommentBtn(this)">
                            {% if value.feed_subscription %}
                                <i class="glyphicon glyphicon-ok"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-remove"></i>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a title="Your subscription to the comments is DOWN" data-id='{{ value.id }}' data-token='{{ value.access_token }}' onclick="handleMessengerBtn(this)">
                             {% if value.messenger_subscription %}
                                <i class="glyphicon glyphicon-ok"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-remove"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% csrf_token %}

    <!-- Scripts and CSS -->
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/requests.js" %}></script>
    <link rel="stylesheet" href={% static "css/site.css" %}>


</body>
</html>